{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <h2>Hyper news</h2>
        <form action="" method="get">
<!--            {% csrf_token %}-->
            {% for f in form %}
            <p>{{ f }}</p>
            {% endfor %}
            <button type="submit">Search for news</button>

        </form>
    {% for k, v in news.items %}
        <h4>{{ k }}</h4>
        <ul>
        {% for el in v %}

                <a target="_blank" href="/news/{{ el.link }}/">{{ el.title }}</a><br><br>

        {% endfor %}
        </ul>
    {% endfor %}

    <a target="_blank" href="/news/create/"></a>

</body>
</html>
