html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(41, 76, 111);
  height: 100px;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
}

.img-link {
  flex-grow: 1;
}

.logo {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 6px;
  margin-left: 16px;
}

.home-link {
  flex-grow: 2;
}

.product-link {
  flex-grow: 2;
}

.contact-link {
  margin-right: 16px;
}

main {
  height: 595px;
  height: 60%;
}

#home {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.home__container p,
.home__container h1 {
  color: rgb(60, 92, 122);
}

.home__container p
#product p {
  font-size: 1.25rem;
  font-weight: 300;
}

.home__container a {
  background-color: rgb(64, 153, 235);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(64, 153, 235);
  border-radius: .25rem;
  color: white;
  display: block;
  font-size: 1rem;
  text-decoration: none;
  padding: .375rem .75rem .375rem .75rem;
}

#product {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: rgb(60, 92, 122);
}

#product img {
  width: 100%;
  border-top: 21px;
  border-right: 21px;
  border-bottom: 0px;
  border-left: 0px;
}

.footer {
  min-height: 30vh;
  max-width: 100%;
  background-color:rgba(0, 0, 0, 0.85);
  padding: 48px 16px;
  margin: 0;
  color: rgb(108, 117, 125);
}

#contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#contact-col1,
#contact-col2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 0 16px;
  margin: 0 70px;
}

.nav-footer{
  margin-bottom: 10px;
  margin-top: 10px;
}

#footer_link_logo,
#footer_link_home,
#footer_link_product,
#footer_link_contact{
  color: rgb(108, 117, 125);
  text-decoration: none solid rgb(108, 117, 125);
  margin-right: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h5{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 8px;
  color: rgb(248, 249, 250);
}

.contact-email{
  margin-bottom: 16px;
}

#email {
  width: 230px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
}

label{
  display: block;
  margin-bottom: 8px;
  color: rgb(248, 249, 250);
}

.button-submit{
  width: 230px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgb(108, 117, 125);
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration-line: none;
  color: rgb(255, 255, 255);
  background-color: rgb(108, 117, 125);
}